.snippet {
    background: var(--light-color);
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    .title,
    .description,
    .code {
        margin-bottom: 1rem;
    }
}